@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div align="center">

    <h3>Tarequl Islam </h3><br />
    Section: 4DCSE.1<br/>
    Roll: 182001422E<br/>
    Phone: +8801879043481 <br/>
    Email: itareq38@gmail.com <br/>
    <br />
    <br/>
    <br/>
    <h3>Rahatul Alam</h3><br/>
    Section: 4DCSE.1<br/>
    Roll: 182001322E<br/>
    Phone: +8801851853483<br/>
    Email: mrashovo@gmail.com <br/>

</div>